name: Release workflow for building debian packages and images

on:
  push:
    branch: '*'

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  debian-package:
    name: "Build debian packages"
    runs-on: ubuntu-latest
    container:
      image: "ubuntu:bionic"
    steps:
      - name: success
        run: |
          exit 0
      - name: fail
        run: |
          exit 0
      - name: notify
        if: failure()
        run: |
            echo "blah"
