name: Release workflow for building debian packages and images

on:
  release:
    types:
      - published

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  debian-package:
    name: "Build debian packages"
    runs-on: ubuntu-latest
    container:
      image: "ubuntu:bionic"
    steps:
      - name: fail
        run: |
          exit 99
      - name: notify
        if: failure()
        run: |
            echo "blah"
